#main-container {
  padding-top: 30px; }

.modal.in .modal-dialog {
  z-index: 10000; }

.form-group a.btn {
  color: #333; }

.checkbox input[type="checkbox"] {
  margin-left: -20px; }

.iframe-container .header, .iframe-container .footer {
  background-color: #ED1C24;
  color: #fff;
  padding: 4px; }

.iframe-container h3 {
  margin: 0; }

.iframe-container .content-form {
  padding: 20px;
  background-color: #fff; }

.continue-btn {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 18px; }

.continue-btn .btn {
  background-color: #ED1C24;
  border: 0 none; }

.transactioncustomer, .hide {
  display: none; }

.message-portal {
  background-color: #FAFCE8;
  box-shadow: 1px 4px 6px #cccccc;
  color: red;
  padding: 20px;
  position: fixed;
  text-align: center;
  top: 30%;
  width: 338px;
  z-index: 10;
  border-radius: 4px;
  left: 34%;
  display: none; }
  .message-portal h2 {
    font-size: 16px; }
  .message-portal pre {
    display: none; }

.disabled {
  pointer-events: none;
  opacity: 0.5 !important; }

.options-wrapper.disabled {
  pointer-events: none;
  opacity: 0.5 !important; }

.loading {
  background-image: url("../../images/ajax-loaders.gif");
  background-repeat: no-repeat;
  background-size: 50px auto;
  height: 50px;
  left: 48%;
  position: fixed;
  top: 24%;
  width: 50px;
  z-index: 10; }

.content-bg {
  background-color: #fcfcfc; }
  .content-bg .nav-pills {
    border-top: 1px solid #eee; }

.content-bg.col-sm-9 {
  border-left: 1px solid #eee; }

.table a, .table tr.ng-scope {
  cursor: pointer; }
.table tr.ng-scope a.btn-primary {
  margin-bottom: 10px; }
.table .ng-scope.collapse.in, .table .ng-scope.collapsing {
  cursor: default; }
  .table .ng-scope.collapse.in .row, .table .ng-scope.collapsing .row {
    background-color: #eee;
    margin: 0; }
  .table .ng-scope.collapse.in td, .table .ng-scope.collapsing td {
    background-color: #f5f5f5; }
  .table .ng-scope.collapse.in .row:first-child, .table .ng-scope.collapsing .row:first-child {
    background-color: #e1e1e1; }
  .table .ng-scope.collapse.in .type_simple, .table .ng-scope.collapsing .type_simple {
    background-color: #e5e5e5;
    padding: 10px 10px 0; }
  .table .ng-scope.collapse.in .type_virtual, .table .ng-scope.collapsing .type_virtual {
    background-color: #e8e8e8;
    padding: 0 10px 10px; }
  .table .ng-scope.collapse.in .select-status, .table .ng-scope.collapsing .select-status {
    padding-top: 10px; }
.table .prescription_content {
  padding: 0 30px 20px; }
  .table .prescription_content label {
    margin-bottom: 0; }
  .table .prescription_content .option-value {
    padding-left: 15px; }

.capitalize {
  text-transform: capitalize; }

@media (max-width: 450px) {
  .message {
    width: 94% !important; }

  .loading {
    left: 42% !important; }

  .message-portal {
    left: 10%; } }
.nopadding {
  padding: 0;
  margin: 0; }

.btn-group-sm > .btn, .btn-sm {
  font-size: 10px; }

.hascroll {
  max-height: 102px;
  overflow-y: scroll; }

#list-form {
  padding-top: 10px; }

ul.ng-valid-date {
  width: auto;
  padding: 2px 3px; }

.input-group-addon {
  cursor: pointer; }

.table > tbody > tr > td {
  vertical-align: middle; }

#list-form {
  width: 100%; }

#list-form .main-form-list .innerlist div {
  margin-top: 10px; }

.spacedTop {
  margin-top: 20px !important;
  font-size: 10px;
  font-weight: normal;
  padding-right: 3px; }

.cyclelist .flist {
  margin-top: -1px; }

.cyclelist input[type=radio] {
  position: relative;
  top: 1px; }

#cycle-form .after span {
  margin-top: 6px;
  display: block; }

#cycle-form .ep-rec-dow {
  display: inline-block;
  margin-top: 7px; }

#cycle-form .lblnext {
  margin-top: 10px; }

.mySettings {
  margin-top: 8px; }

/*email frequency*/
#mySettings .modal-dialog {
  width: 60%; }

.range {
  padding-top: 15px; }

.freq-month-label {
  font-size: 13px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: -10px; }

.range-value {
  padding-top: 5px; }

input[type=range] {
  -webkit-appearance: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 90% !important;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px; }

.from-range {
  float: left !important;
  margin-top: 5px !important;
  padding-left: 4px;
  font-weight: bold; }

.to-range {
  margin-top: 5px !important;
  float: right !important;
  font-weight: bold; }

.freq-text {
  margin-left: -15px;
  padding-top: 10px;
  font-size: 12px;
  font-weight: bold; }

.ad-text {
  font-size: 12px;
  font-weight: bold; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #3385ff;
  margin-top: -4px; }

input[type=range]:focus {
  outline: none; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc; }

output {
  position: absolute;
  background-image: linear-gradient(#444444, #3385ff);
  width: 25px;
  height: 30px;
  text-align: center;
  color: white;
  border-radius: 5px;
  display: inline-block;
  font: bold 15px/30px Georgia;
  bottom: 75%;
  left: 0;
  margin-left: 2px; }

output:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #3385ff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px; }

ul.navbar-nav li a.signup {
  margin: 5px 5px; }

ul.navbar-nav-custom {
  text-align: left; }

ul.navbar-nav-custom li a {
  padding: 0; }

ul.navbar-nav-custom li {
  display: block;
  margin: 10px 0;
  float: none; }

ul.navbar-nav-custom ul li {
  padding: 0 10px; }

#email-form fieldset {
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px 0;
  padding: 0 50px; }

.icon-function div {
  margin: 5px 0 0 0; }

/*# sourceMappingURL=default-a.css.map */
